In [1]:
my_list = ['a', 'b', 'c']

Often, when dealing with iterators, we also get need to keep a count of iterations. Python eases the programmersâ€™ task by providing a built-in function enumerate() for this task. Enumerate() method adds a counter to an iterable and returns it in a form of enumerating object. This enumerated object can then be used directly for loops or converted into a list of tuples using the list() method

In [2]:
enum_list = list(enumerate(my_list))
enum_list

[(0, 'a'), (1, 'b'), (2, 'c')]

In [3]:
for i,a in enum_list:
    print(i,a)

0 a
1 b
2 c

Definition & methods

In [4]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [5]:
integs = [1,2,4,53,56,3,56,367,74,67,457,35,7784,67]

In [6]:
34 in integs

False

In [7]:
integs.index(56)

4

In [8]:
len(integs)

14

In [9]:
sum(integs)

9026

In [10]:
min(integs)

1

In [11]:
max(integs)

7784

In [12]:
sum(integs)/len(integs)

644.7142857142857

In [13]:
integs[-1]

67

In [14]:
integs[:5]

[1, 2, 4, 53, 56]

In [15]:
integs[:7]

[1, 2, 4, 53, 56, 3, 56]

In [16]:
integs[2], integs[6]

(4, 56)

In [17]:
integs[2:6]

[4, 53, 56, 3]

In [18]:
integs[1:-1] # index 1 onwards & excluding last item

[2, 4, 53, 56, 3, 56, 367, 74, 67, 457, 35, 7784]

In [19]:
integs[-4:] #last 4 items

[457, 35, 7784, 67]

In [20]:
integs

[1, 2, 4, 53, 56, 3, 56, 367, 74, 67, 457, 35, 7784, 67]

In [21]:
integs[:-4] #start from 0 & ignore last 4 items

[1, 2, 4, 53, 56, 3, 56, 367, 74, 67]

In [22]:
integs[:1] #number right to the : is always excluded ":1" indicates start from 0th index & exclude 1st index item

[1]

In [23]:
integs[:]

[1, 2, 4, 53, 56, 3, 56, 367, 74, 67, 457, 35, 7784, 67]

List comprehension & loops

In [24]:
[num ** 2 for num in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [25]:
[num ** 2 for num in range(10) if num % 2 == 0] #list comprehension with a condition

[0, 4, 16, 36, 64]

In [26]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [27]:
for planet in planets:
    print(planet)

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

while loop

In [28]:
i = 0
while i < len(planets):
    print(planets[i], end=" ")
    i+=1

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

In [29]:
[planet for planet in planets if len(planet) < 7] #similar to SQL SELECT, FROM, WHERE

['Venus', 'Earth', 'Mars', 'Saturn', 'Uranus']

in the above cell we are returning just planet name, but we can customize what we return using string methods

In [30]:
[planet.upper() for planet in planets if len(planet) < 7]

['VENUS', 'EARTH', 'MARS', 'SATURN', 'URANUS']

In [31]:
[planet+ "!" for planet in planets]

['Mercury!',
 'Venus!',
 'Earth!',
 'Mars!',
 'Jupiter!',
 'Saturn!',
 'Uranus!',
 'Neptune!']

In [32]:
nums = [23,45,44,16,78,90,10,42,31,37,89]
[num for num in nums if num % 2 == 0]

[44, 16, 78, 90, 10, 42]

In [33]:
len([num for num in nums if num % 2 == 0]) #count of even numbers

6

list comprehension always returns a new list

since we can create a list of elements, modified elements, we can also create a list of bools

In [34]:
[len(planet) < 6 for planet in planets]

[False, True, True, True, False, False, False, False]

list of bools is created by providing the condition itself in element part of list comprehension

list comprehension syntax consists of 3 parts, analogical to SQL SELECT, FROM, WHERE statement
1. element/modified element - return number/squared number, string/capitalized string
2. for element in list -  specifies which list to iterate over
3. condition - optional, if condition is not specified all items will be considered

example:

In [35]:
list_a = [1,2,3,4,5]

In [36]:
[i ** 3 for i in list_a]

[1, 8, 27, 64, 125]

In [37]:
list_b = ['pasta', 'cheese', 'sauce', 'salad', 'fruits', 'oregano', 'cake', 'tissues', 'gloves']
[b.upper()+"!" for b in list_b]

['PASTA!',
 'CHEESE!',
 'SAUCE!',
 'SALAD!',
 'FRUITS!',
 'OREGANO!',
 'CAKE!',
 'TISSUES!',
 'GLOVES!']

In [38]:
[b for b in list_b if len(b) > 5]

['cheese', 'fruits', 'oregano', 'tissues', 'gloves']

In [39]:
list_c = [[1,2,3],[4,5,6,7,8],[9,8,6,5],[1,2],[0,0,0,0]]
[len(item) < 4 for item in list_c ]

[True, False, False, True, False]

In [40]:
c = [len(item) < 4 for item in list_c ]
true_c = [i for i in c if i==True]

In [41]:
len(true_c)

2

list comprehension can be applied on a list of bools too.

strings

strings are sequence of characters

In [42]:
my_string = "Dreams are messages from deep"

use split method to make a list

In [43]:
my_string.split()

['Dreams', 'are', 'messages', 'from', 'deep']

similar to lists, strings can be sliced/iterated

In [44]:
string_a = 'Germany'
[a for a in string_a]

['G', 'e', 'r', 'm', 'a', 'n', 'y']

In [45]:
a = string_a
a[1]

'e'

In [46]:
a[:4]

'Germ'

In [47]:
a[-2]

'n'

In [48]:
a[-3:]

'any'

unlike lists, strings are immutable, cannot be modified & updated

In [49]:
[a.upper() for a in string_a]

['G', 'E', 'R', 'M', 'A', 'N', 'Y']

In [56]:
my_string

'Dreams are messages from deep'

In [57]:
my_string.lower()

'dreams are messages from deep'

In [58]:
my_string.startswith('Dreams')

True

In [59]:
my_string.endswith('deep')

True

substrings can be searched within a string

In [60]:
my_string.index('from')

20

split creates lists from strings & join does the opposite

In [62]:
my_string.split()

['Dreams', 'are', 'messages', 'from', 'deep']

In [64]:
a_list = ['I', 'like', 'pancakes']
' '.join(a_list)

'I like pancakes'

both split & join use delimeters. delimeters specify how to break/connect parts of a string

using ',' comma as a delimeter

In [66]:
string_b = 'everyday, it gets, a little, easier'
string_b.split(',')

['everyday', ' it gets', ' a little', ' easier']

In [67]:
datestr = '19-11-1997'
datestr.split('-')

['19', '11', '1997']

In [69]:
d,m,y = datestr.split('-')

In [70]:
d,m,y

('19', '11', '1997')

In [71]:
'/'.join([m,d,y])

'11/19/1997'

split & join have 2 parts, 

split:


    1. string which we want to split
    2. delimeter, character based on which strings will get split & create a list

In [79]:
greeting = 'good-morning-Mr-Singh'

In [80]:
greeting.split('-')

['good', 'morning', 'Mr', 'Singh']

here greeting is string & '-' is delimter

join:
    
    1. character seperator which will connect the elements of a list
    2. list whose elements we want to join to create a string

In [81]:
m,d,y

('11', '19', '1997')

we can use m,d,y in a list & join them together to create a string

In [87]:
('--').join([d,m,y])

'19--11--1997'

in the above example '--' is the character seperator that joins list elements together & creates a string

Dictionaries

Dictionaries are a built-in Python data structure for mapping keys to values. They use a key-value pairing system to store items. Items can be accessed using their keys

In [88]:
person_1 = {'name':'Himanshu', 'age':24, 'occupation':'analyst', 'eye-color':'brown'}

In [89]:
person_1

{'name': 'Himanshu', 'age': 24, 'occupation': 'analyst', 'eye-color': 'brown'}

In [90]:
type(person_1)

dict

In [91]:
person_1['age']

24

In [92]:
person_1['eye-color']

'brown'

dictionaries are not immutable, values can be updated using keys

In [93]:
person_1['age'] = 25

In [94]:
person_1

{'name': 'Himanshu', 'age': 25, 'occupation': 'analyst', 'eye-color': 'brown'}

similar to strings & lists, dictionaries also support list comprehension