In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
ucl_att = pd.read_csv('Datasets/UCL/attacking.csv', index_col=0)

In [7]:
ucl_att

,player_name,club,position,assists,corner_taken,offsides,dribbles,match_played
serial,,,,,,,,
1,Bruno Fernandes,Man. United,Midfielder,7,10,2,7,7
2,Vinícius Júnior,Real Madrid,Forward,6,3,4,83,13
2,Sané,Bayern,Midfielder,6,3,3,32,10
4,Antony,Ajax,Forward,5,3,4,28,7
5,Alexander-Arnold,Liverpool,Defender,4,36,0,9,9
...,...,...,...,...,...,...,...,...
64,Tolisso,Bayern,Midfielder,1,0,0,0,4
64,Schuurs,Ajax,Defender,1,0,0,0,3
64,Kryvtsov,Shakhtar Donetsk,Defender,1,0,0,0,3
64,Stanišić,Bayern,Defender,1,0,0,0,2
64,Bernardo,Salzburg,Defender,1,0,0,0,2

In [8]:
ucl_def = pd.read_csv('Datasets/UCL/defending.csv',index_col=0)

In [9]:
ucl_def

,player_name,club,position,balls_recoverd,tackles,t_won,t_lost,clearance_attempted,match_played
serial,,,,,,,,,
1,Casemiro,Real Madrid,Midfielder,76,31,13,18,19,11
1,Éder Militão,Real Madrid,Defender,76,19,6,13,32,12
1,Reinildo,Atlético,Defender,76,13,6,7,20,10
4,Fabinho,Liverpool,Midfielder,74,23,9,14,8,13
5,Albiol,Villarreal,Defender,73,9,6,3,62,12
...,...,...,...,...,...,...,...,...,...
578,Maier,Young Boys,Midfielder,1,0,0,0,0,1
578,Zhegrova,LOSC,Midfielder,1,0,0,0,0,1
578,Zesiger,Young Boys,Defender,1,0,0,0,0,1
578,Zakaria,Juventus,Midfielder,1,0,0,0,0,1
578,Edwards,Sporting CP,Forward,1,0,0,0,0,1

In [10]:
att1 = ucl_att[['player_name', 'assists', 'dribbles']][:10]

In [11]:
att1

             player_name  assists  dribbles
serial
1        Bruno Fernandes        7         7
2        Vinícius Júnior        6        83
2                   Sané        6        32
4                 Antony        5        28
5       Alexander-Arnold        4         9
5              De Bruyne        4        14
5                 Modrić        4         8
5             João Mário        4         7
5                 Mbappé        4        43
5          Gerard Moreno        4         9