In [1]:
import pandas as pd

Pandas have 2 basic data types, series & DataFrames. series can be considered a column & DataFrame a table


- standard way of creating a series is using a list
- standard way of creating a DataFrame is using a dictionary

In [5]:
roll_num = [221,222,223,224]
roll_series = pd.Series(roll_num, name='Roll numbers')
roll_series

0    221
1    222
2    223
3    224
Name: Roll numbers, dtype: int64

In [6]:
names = ['Himanshu', 'Jay', 'Ken', 'Ron']
name_series = pd.Series(names, name='Names')
name_series

0    Himanshu
1         Jay
2         Ken
3         Ron
Name: Names, dtype: object

creating DataFrames

In [12]:
student_df = pd.DataFrame({'Student Name':['Himanshu', 'Jay', 'Ken', 'Ron'], 'Roll number':[221,222,223,224]})
student_df

  Student Name  Roll number
0     Himanshu          221
1          Jay          222
2          Ken          223
3          Ron          224

In [13]:
student_df1 = pd.DataFrame({'Student Name':names, 'Roll number':roll_num})
student_df1

  Student Name  Roll number
0     Himanshu          221
1          Jay          222
2          Ken          223
3          Ron          224