In [133]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [134]:
cvd = pd.read_csv('Datasets/covid.csv')

In [135]:
cvd

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.000000000,5.000000000,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746000000,0.500000000,64.830000000,0.511000000,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.000000000,0.000000000,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746000000,0.500000000,64.830000000,0.511000000,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.000000000,0.000000000,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746000000,0.500000000,64.830000000,0.511000000,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.000000000,0.000000000,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746000000,0.500000000,64.830000000,0.511000000,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.000000000,0.000000000,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746000000,0.500000000,64.830000000,0.511000000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151771,ZWE,Africa,Zimbabwe,2021-12-29,207548.000000000,0.000000000,1163.429000000,4940.000000000,0.000000000,16.000000000,...,1.600000000,30.700000000,36.791000000,1.700000000,61.490000000,0.571000000,NaN,NaN,NaN,NaN
151772,ZWE,Africa,Zimbabwe,2021-12-30,211728.000000000,4180.000000000,1483.429000000,4997.000000000,57.000000000,20.286000000,...,1.600000000,30.700000000,36.791000000,1.700000000,61.490000000,0.571000000,NaN,NaN,NaN,NaN
151773,ZWE,Africa,Zimbabwe,2021-12-31,213258.000000000,1530.000000000,1503.143000000,5004.000000000,7.000000000,19.000000000,...,1.600000000,30.700000000,36.791000000,1.700000000,61.490000000,0.571000000,NaN,NaN,NaN,NaN
151774,ZWE,Africa,Zimbabwe,2022-01-01,214214.000000000,956.000000000,1495.429000000,5017.000000000,13.000000000,18.857000000,...,1.600000000,30.700000000,36.791000000,1.700000000,61.490000000,0.571000000,NaN,NaN,NaN,NaN
151775,ZWE,Africa,Zimbabwe,2022-01-02,214214.000000000,NaN,NaN,5017.000000000,NaN,NaN,...,1.600000000,30.700000000,36.791000000,1.700000000,61.490000000,0.571000000,NaN,NaN,NaN,NaN

In [136]:
cvd.continent.unique()

array(['Asia', nan, 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [137]:
cvd.continent.isna().sum()

9150

In [138]:
cvd = cvd[cvd['continent'].notna()]

In [139]:
cvd.continent.unique()

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [140]:
asia = cvd.loc[(cvd.continent=='Asia')]
africa = cvd.loc[(cvd.continent=='Africa')]
europe = cvd.loc[(cvd.continent=='Europe')]
oceania = cvd.loc[(cvd.continent=='Oceania')]
na = cvd.loc[(cvd.continent=='North America')]
sa = cvd.loc[(cvd.continent=='South America')]

In [141]:
asia.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [142]:
asia.location.unique()

array(['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh',
       'Bhutan', 'Brunei', 'Cambodia', 'China', 'Georgia', 'Hong Kong',
       'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan',
       'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Macao',
       'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal',
       'Northern Cyprus', 'Oman', 'Pakistan', 'Palestine', 'Philippines',
       'Qatar', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka',
       'Syria', 'Taiwan', 'Tajikistan', 'Thailand', 'Timor', 'Turkey',
       'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam',
       'Yemen'], dtype=object)

In [143]:
rc = ['total_cases', 'population', 'male_smokers', 'female_smokers', 'human_development_index', 'life_expectancy', 'median_age', 'population_density', 'gdp_per_capita', 'extreme_poverty', 'aged_65_older', 'total_tests']

In [147]:
asia.shape

(31451, 67)

In [144]:
asia[rc].isna().sum()

total_cases                  532
population                   317
male_smokers                7271
female_smokers              7271
human_development_index     1747
life_expectancy              317
median_age                   317
population_density          1687
gdp_per_capita              1687
extreme_poverty            14239
aged_65_older               1687
total_tests                16358
dtype: int64

In [145]:
asia = asia[asia['human_development_index'].notna()]

In [146]:
asia.groupby('location').human_development_index.mean()

location
Afghanistan            0.511000000
Armenia                0.776000000
Azerbaijan             0.756000000
Bahrain                0.852000000
Bangladesh             0.632000000
Bhutan                 0.654000000
Brunei                 0.838000000
Cambodia               0.594000000
China                  0.761000000
Georgia                0.812000000
Hong Kong              0.949000000
India                  0.645000000
Indonesia              0.718000000
Iran                   0.783000000
Iraq                   0.674000000
Israel                 0.919000000
Japan                  0.919000000
Jordan                 0.729000000
Kazakhstan             0.825000000
Kuwait                 0.806000000
Kyrgyzstan             0.697000000
Laos                   0.613000000
Lebanon                0.744000000
Malaysia               0.810000000
Maldives               0.740000000
Mongolia               0.737000000
Myanmar                0.583000000
Nepal                  0.602000000
Oman                   0.813000000
Pakistan               0.557000000
Palestine              0.708000000
Philippines            0.718000000
Qatar                  0.848000000
Saudi Arabia           0.854000000
Singapore              0.938000000
South Korea            0.916000000
Sri Lanka              0.782000000
Syria                  0.567000000
Tajikistan             0.668000000
Thailand               0.777000000
Timor                  0.606000000
Turkey                 0.820000000
Turkmenistan           0.715000000
United Arab Emirates   0.890000000
Uzbekistan             0.720000000
Vietnam                0.704000000
Yemen                  0.470000000
Name: human_development_index, dtype: float64