In [45]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [46]:
pd.set_option('display.float_format', lambda x: '%.9f' % x)

In [47]:
cvd = pd.read_csv('Datasets/covid.csv')

In [48]:
cvd

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.000000000,5.000000000,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746000000,0.500000000,64.830000000,0.511000000,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.000000000,0.000000000,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746000000,0.500000000,64.830000000,0.511000000,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.000000000,0.000000000,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746000000,0.500000000,64.830000000,0.511000000,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.000000000,0.000000000,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746000000,0.500000000,64.830000000,0.511000000,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.000000000,0.000000000,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746000000,0.500000000,64.830000000,0.511000000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151771,ZWE,Africa,Zimbabwe,2021-12-29,207548.000000000,0.000000000,1163.429000000,4940.000000000,0.000000000,16.000000000,...,1.600000000,30.700000000,36.791000000,1.700000000,61.490000000,0.571000000,NaN,NaN,NaN,NaN
151772,ZWE,Africa,Zimbabwe,2021-12-30,211728.000000000,4180.000000000,1483.429000000,4997.000000000,57.000000000,20.286000000,...,1.600000000,30.700000000,36.791000000,1.700000000,61.490000000,0.571000000,NaN,NaN,NaN,NaN
151773,ZWE,Africa,Zimbabwe,2021-12-31,213258.000000000,1530.000000000,1503.143000000,5004.000000000,7.000000000,19.000000000,...,1.600000000,30.700000000,36.791000000,1.700000000,61.490000000,0.571000000,NaN,NaN,NaN,NaN
151774,ZWE,Africa,Zimbabwe,2022-01-01,214214.000000000,956.000000000,1495.429000000,5017.000000000,13.000000000,18.857000000,...,1.600000000,30.700000000,36.791000000,1.700000000,61.490000000,0.571000000,NaN,NaN,NaN,NaN
151775,ZWE,Africa,Zimbabwe,2022-01-02,214214.000000000,NaN,NaN,5017.000000000,NaN,NaN,...,1.600000000,30.700000000,36.791000000,1.700000000,61.490000000,0.571000000,NaN,NaN,NaN,NaN

In [49]:
cvd.continent.unique()

array(['Asia', nan, 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [50]:
cvd.continent.isna().sum()

9150

In [51]:
cvd = cvd[cvd['continent'].notna()]

In [52]:
cvd.continent.unique()

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [53]:
asia = cvd.loc[(cvd.continent=='Asia')]
africa = cvd.loc[(cvd.continent=='Africa')]
europe = cvd.loc[(cvd.continent=='Europe')]
oceania = cvd.loc[(cvd.continent=='Oceania')]
na = cvd.loc[(cvd.continent=='North America')]
sa = cvd.loc[(cvd.continent=='South America')]

In [54]:
asia.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [55]:
asia.location.unique()

array(['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh',
       'Bhutan', 'Brunei', 'Cambodia', 'China', 'Georgia', 'Hong Kong',
       'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan',
       'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Macao',
       'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal',
       'Northern Cyprus', 'Oman', 'Pakistan', 'Palestine', 'Philippines',
       'Qatar', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka',
       'Syria', 'Taiwan', 'Tajikistan', 'Thailand', 'Timor', 'Turkey',
       'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam',
       'Yemen'], dtype=object)

In [59]:
asia.groupby('location')

location
India                  14728932.000000000
Turkey                  3234082.000000000
Iran                    2148036.000000000
Indonesia               1572798.000000000
Philippines              906771.000000000
Iraq                     856443.000000000
Bangladesh               689889.000000000
Malaysia                 631399.000000000
Pakistan                 615458.000000000
Israel                   583188.000000000
Japan                    545837.000000000
Jordan                   407076.000000000
Thailand                 400093.000000000
Kazakhstan               378710.000000000
Saudi Arabia             354889.000000000
United Arab Emirates     335876.000000000
Nepal                    324621.000000000
Lebanon                  300864.000000000
Georgia                  267378.000000000
Azerbaijan               225275.000000000
Kuwait                   205466.000000000
Vietnam                  195876.000000000
Palestine                187844.000000000
Myanmar                  171998.000000000
Oman                     156644.000000000
Sri Lanka                155264.000000000
Qatar                    153847.000000000
Armenia                  150794.000000000
Bahrain                  137205.000000000
South Korea              123042.000000000
Kyrgyzstan                89275.000000000
Mongolia                  86795.000000000
China                     86590.000000000
Uzbekistan                85671.000000000
Afghanistan               71188.000000000
Singapore                 71075.000000000
Maldives                  35300.000000000
Cambodia                  29868.000000000
Syria                     16959.000000000
Tajikistan                12437.000000000
Laos                      10667.000000000
Hong Kong                  7471.000000000
Timor                      5500.000000000
Taiwan                     5265.000000000
Yemen                      4434.000000000
Brunei                     2286.000000000
Bhutan                     1097.000000000
Macao                        49.000000000
Northern Cyprus                       NaN
Turkmenistan                          NaN
Name: total_cases, dtype: float64